* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-bar {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.nav-links{
 position: relative;
 left: 5rem;
}
a i{
  color: white;
  font-size: 2rem;
    position: fixed;
  left: 0;
  top: 1rem;

}
a i:hover{
  color: #c69df4;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
@media only screen and (max-width:460px) {
    .nav{
        height: 50px;
    }
    .nav-bar h1{
      font-size: 2rem;
    }
    a i{
  color: white;
  font-size: 2rem;
    position: fixed;
  left: 0;
  top: 1.4rem;

}
    .choices{
        gap: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .choice{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .choice:hover {
  cursor: pointer;
  background-color:white;
 /* border: 1px solid #081b31;*/
 }
    
    img{
        width: 100px;
        height: 100px;
    }
    img:hover{
      border: 1px solid #081b31;
    }
    .score{
        margin-top: 1rem;
    }
    #user,#comp{
        font-size: 1.8rem;
    }
    .score p{
        font-size: 1.8rem;
    }
    #msg{
        font-size: 1.4rem;
    }
    span{
        margin-top: 3rem;
    }
}
#msg {
  background-color: #081b31;
  font-size: smaller;
}