* {
  margin: 0;
  padding: 0;
}

body {
  background-color:white;
  text-align: center;
}

.nav i{
  font-size: 2rem;
  margin-top: 18px;
  margin-left: 10px;
  float: left;
  color: white;
}

.nav i:hover{
  color: #d58fcf;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

h1{
  padding: 20px;
  background-color: #081b31;
 /* background-color: #ec7dbe;*/
  color: white;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #232222;
  background-color: #d8809d;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color:#d8809d;
  background-color: #081b31;
  color: #fff;
  border-radius: 1rem;
  border: none;
  box-shadow: 2px 2px 2px 2px #04000f;
}

#reset-btn:active{
  box-shadow: 0px 0px 0px 0px   
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #d552c2;
  color: #fff;
  border-radius: 1rem;
  border: none;
  box-shadow: 2px 2px 3px 3px #b20a99;
}

#new-btn:active{
  box-shadow: 0px 0px 0px 0px   
}

#msg {
  color: #c52d5f;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}